header{
    background-color: rgb(99, 201, 121);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
}
button{
    margin: 15px;
    font-family: sans-serif;
    transition: all ease-in-out .2s;
    border-width: 1px;
    border-color: #c1c1c1;
    border-radius: 4px;
}
button:hover{
    background-color: rgb(99, 201, 121);
    color: #fff;
    border-color: rgb(34 175 48);
}
.cart-button, .menu-button{
    align-self: center;
}
.menu-button{
    font-size: 40px;
    color: #fff;
    margin: 0;
}
.menu-button .front{
    z-index: 2;
    position: relative;
    transition: all ease-in-out .2s;
}
.menu-button .back{
    color: rgb(70, 70, 70);
    position: absolute;
    left: 35px;
    margin-top: 1px;
    z-index: 1;
    transition: all ease-in-out .2s;
}
.cart-button{
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
}
.cart-button:hover{
    background-color: rgb(69, 148, 49);
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.goods-list{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods-item{
    width: 160px;
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid rgb(72, 135, 177);
    border-radius: 8px;
    box-shadow: 3px 3px rgb(180, 180, 180);
}
.goods-item img{
    width: 100%;
}
.goods-item h3{
    font-family: sans-serif;
}
.goods-item p{
    text-align: right;
}
.goods-item button{
    margin: 0;
    width: 100%;
}